@model UniversityPayroll.Models.LeaveApplication

<h2>Leave Application Details</h2>
<p><b>Employee Id:</b> @Model.EmployeeId</p>
<p><b>Type:</b> @Model.LeaveType</p>
<p><b>Start:</b> @Model.StartDate.ToShortDateString()</p>
<p><b>End:</b> @Model.EndDate.ToShortDateString()</p>
<p><b>Total Days:</b> @Model.TotalDays</p>
<p><b>Status:</b> @Model.Status</p>
<p><b>Reason:</b> @Model.Reason</p>
<p><b>Comment:</b> @Model.Comment</p>
<p>
    @if (User.IsInRole("Admin"))
    {
    <a href="/Leave/Edit/@Model.Id">Edit</a>
    <a href = "/Leave/Delete/@Model.Id" onclick = "return confirm('Are you sure you want to delete this leave application?');"> Delete </a> 
    }
    
    <a href="/Leave">Back to List</a>
</p>
