@model UniversityPayroll.Models.LeaveApplication

<div class="container mt-5 animate__animated animate__fadeIn">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-lg">
                <div class="card-header bg-info text-white text-center">
                    <h2>Leave Application Details</h2>
                </div>
                <div class="card-body">
                    <ul class="list-group list-group-flush mb-3">
                        <li class="list-group-item"><b>Employee Id:</b> @Model.EmployeeId</li>
                        <li class="list-group-item"><b>Type:</b> @Model.LeaveType</li>
                        <li class="list-group-item"><b>Start:</b> @Model.StartDate.ToShortDateString()</li>
                        <li class="list-group-item"><b>End:</b> @Model.EndDate.ToShortDateString()</li>
                        <li class="list-group-item"><b>Total Days:</b> @Model.TotalDays</li>
                        <li class="list-group-item"><b>Status:</b> @Model.Status</li>
                        <li class="list-group-item"><b>Reason:</b> @Model.Reason</li>
                        <li class="list-group-item"><b>Comment:</b> @Model.Comment</li>
                    </ul>
                    <div class="card-body">
                        @if (User.IsInRole("Admin"))
                        {   
                            <div class="row justify-content-center">
                                <div class="col-md-6">
                                    <form asp-action="Accept" method="post">
                                        <input type="hidden" name="id" value="@Model.Id" />
                                        <div class="mb-3">
                                            <label for="comment">Comment</label>
                                            <textarea name="comment" class="form-control"></textarea>
                                        </div>
                                        <div class="mb-3">
                                            <button type="submit" class="btn btn-success">Approve</button>
                                        </div>
                                    </form>
                                </div>
                                <div class="col-md-6">
                                    <form asp-action="Reject" method="post">
                                        <input type="hidden" name="id" value="@Model.Id" />
                                        <div class="mb-3">
                                            <label for="comment">Comment</label>
                                            <textarea name="comment" class="form-control"></textarea>
                                        </div>
                                        <div class="mb-3">
                                            <button type="submit" class="btn btn-danger">Reject</button>
                                        </div>
                                    </form>
                                </div>
                            </div>  
                        }
                        <a href="/Leave" class="btn btn-secondary">Back to List</a>
                    </>
                </div>
            </div>
        </div>
    </div>
</div>